<!doctype html>

<html lang="en" ng-app="pomodoroClock">

<head>
	<meta charset="utf-8">
	<script src="js/custom.modernizr.js"></script>
    <script src="js/angular.min.js"></script>	
	<title>Pomodoro Clock</title>
	<meta name="JavaScript Project" content="Pomodoro Clock">
	<meta name="Sara C" content="Pomodoro Clock">
	<link href="https://fonts.googleapis.com/css?family=Droid+Sans+Mono" rel="stylesheet">
	<link rel="stylesheet" href="css/styles.css">

	<!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <h1>Pomodoro Clock</h1>
	<div  ng-controller="clockController" class="main">
		<div class="heading">
			<div class="heading-cell">
				<p>Break</p>
				<button ng-click="subtractBreak()" id="minus-break">-</button><span ng-model="breakLength" id="breakTime">{{breakLength}}</span><button id="plus-break" ng-click="addBreak()">+</button>
			</div>
			<div class="heading-cell">
				<p>Work</p>
				<button ng-click="subtractSession()" id="minus-session">-</button><span ng-model="sessionLength" id="workTime">{{sessionLength}}</span><button ng-click="addSession()" id="plus-session">+</button>
			</div>
		</div>
		<div class="content">
			<h2 ng-model="sessionName">{{sessionName}}</h2>
			<h2 ng-model="timeLeft">{{timeLeft}}</h2>
		</div>
		<div class="controls">
			<button id="control-btn" ng-click="countdown()">Start</button>
			<button id="stop-btn" ng-click="stopCountdown()">Stop</button>
			<button id="reset-btn" ng-click="resetCountdown()">Reset</button>
		</div>
	</div>
    <script  type='application/javascript' src="js/jquery-3.1.1.min.js"></script>
	<script type='application/javascript' src='js/disable-double-tap.js'></script>
    <script type='application/javascript' src='js/fastclick.js'></script>
	<script type='application/javascript' src="js/jquery-run.js"></script>
	<script type='application/javascript' src="js/scripts-angular.js"></script>
</body>

</html>
<!--http://marcgg.com/blog/2014/04/09/phonegap-steroids-hybrid-native-app-tips/-->